<meta charset="utf-8" />
<title>Vietpro Mobile Shop</title>
<link rel="stylesheet" href="/static/local/css/bootstrap.css" />
<link rel="stylesheet" href="/static/local/css/home.css" />
<script src="/static/local/js/jquery-3.3.1.js"></script>
<script src="/static/local/js/bootstrap.js"></script>
